@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: KelsonRegular;
  /* Имя шрифта */
  src: url(../fonts/KelsonRegular.otf);
  /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: KelsonBold;
  /* Имя шрифта */
  src: url(../fonts/KelsonBold.otf);
  /* Путь к файлу со шрифтом */
}

html, body {
  font-family: "KelsonRegular", sans-serif;
  line-height: 1.3;
}

.header {
  padding: 0 10%;
  background: url("../img/wall.png") no-repeat;
  box-shadow: -39px 68px 91px 0px #202c42;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-shadow: 2.3px 1.9px 0 rgba(0, 0, 0, 0.3);
  color: #cac9c9;
}

.header .header-content {
  max-width: 1200px;
  margin: auto;
}

.header .logo {
  padding: 15px;
  width: 18%;
  position: relative;
  display: inline-block;
}

.header .info {
  width: 50%;
  display: inline-flex;
  justify-content: space-around;
  font-size: 20px;
}

.header .info .info__time {
  display: inline-block;
  padding-right: 50px;
}

.header .info .info__phone {
  position: relative;
  display: inline-block;
}

.header .info .info__phone:after {
  content: '';
  position: absolute;
  background: url("../img/phone-icon.png") no-repeat;
  left: -35px;
  top: -3px;
  width: 28px;
  height: 28px;
}

.header .nav {
  display: flex;
  width: 40%;
  justify-content: space-between;
  font-size: 20px;
}

.header .nav .nav-item {
  padding-top: 20px;
}

.header .nav .nav-link {
  color: #cac9c9;
  text-decoration: none;
}

.cart {
  display: inline-block;
  position: relative;
  float: right;
  width: 228px;
  height: 80px;
  margin-top: 30px;
  border-radius: 10px;
  box-shadow: 0px 13px 18px 0px rgba(0, 0, 0, 0.31), inset 0px -1px 0px 0px rgba(255, 120, 0, 0.004);
  background: #ff0000 url("../img/sprite.png") no-repeat;
  background-position: 107px -704px;
  z-index: 10;
  cursor: pointer;
}

.cart p,
.cart span {
  margin: 10px 13px;
  color: #fff;
}

.cart p {
  font-size: 26px;
}

.cart span {
  font-size: 23px;
}

.cart b {
  font-size: 15px;
}

.index-title {
  padding: 100px 0;
}

.index-title .title {
  text-shadow: 0 6px 18.8px rgba(0, 0, 0, 0.47);
  color: #ff0000;
  text-transform: uppercase;
}

.index-title .title_size_m {
  font-size: 69px;
}

.index-title .title_size_s {
  font-size: 36px;
}

.main-menu {
  background: url(../img/bg-wood.png) no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.main-menu .main-menu__title {
  position: relative;
  font-size: 45px;
  color: #e79e00;
  text-align: center;
  text-shadow: #000 1px 1px 0, #000 -1px -1px 0, #000  -1px 1px 0, #000  1px -1px 0;
  font-family: 'KelsonBold';
}

.main-menu .main-menu__title::after {
  position: absolute;
  content: '';
  background: url(../img/bg-menu-img.png) no-repeat;
  width: 202px;
  height: 127px;
  margin-left: -143px;
  opacity: 0.5;
}

.menu-pizza {
  width: 1200px;
  margin: auto;
}

.menu-pizza__title {
  padding-top: 85px;
  padding-bottom: 55px;
  text-transform: uppercase;
  font-size: 35px;
  text-shadow: 0px 7px 10px rgba(0, 0, 0, 0.64);
  color: #fff;
  font-family: 'KelsonBold';
  text-align: center;
}

.menu-pizza__product {
  width: 31%;
  margin-right: 3%;
  float: left;
}

.menu-pizza__product:nth-child(3n+1) {
  margin-right: 0;
  float: right;
}

.product-cart {
  position: relative;
  top: 15px;
  width: 183px;
  height: 50px;
  background-color: #b00;
  background-image: linear-gradient(to right, #ffae00 50%, #ccc9c4 50%, #ccc9c4 33%, #ccc9c4 184%);
  border-radius: 10px;
  box-shadow: 0 7px 13px rgba(0, 0, 0, 0.55), inset 0 -1px 0 rgba(255, 255, 255, 0.42);
  cursor: pointer;
  font-family: 'KelsonBold';
}

.product-cart .product-cart__cash {
  position: absolute;
  top: 8px;
  left: 7px;
  display: inline-block;
  font-size: 35px;
}

.product-cart .product-cart__cash span {
  font-size: 21px;
}

.product-cart .product-cart__add {
  position: absolute;
  right: 0;
  top: 10px;
  left: 97px;
  display: inline-block;
  font-size: 16px;
  text-transform: uppercase;
}

.pizza-name {
  margin-top: 13px;
  font-family: 'KelsonBold';
  font-size: 25px;
  color: #e29a00;
  text-transform: uppercase;
  text-shadow: 0 8px 7px rgba(0, 0, 0, 0.55);
}

.main-menu__title--drink {
  margin-top: 85px;
  margin-bottom: 55px;
  text-transform: uppercase;
  font-size: 35px;
  text-shadow: #253a55 1px 1px 0, #253a55 -1px -1px 0,  #253a55 3px 3px 0, #253a55 1px -1px 0;
  color: #fff;
  text-align: center;
  font-family: 'KelsonBold';
}

.main-menu__drink-product {
  float: left;
  margin-right: 195px;
  margin-bottom: 53px;
}

.main-menu__drink-product:nth-child(3n+1) {
  margin-right: 0;
  float: right;
}

.main-menu_drink-product--img {
  margin-left: 40px;
}

.main-action {
  background: url(../img/wall.png) no-repeat;
  min-width: 1300px;
  height: 677px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  box-shadow: 0 0 71px 20px;
  text-shadow: 1px 1px 2px black, 0 0 1em black;
}

.main-action__title {
  padding-top: 53px;
  padding-bottom: 80px;
  text-align: center;
  font-size: 45px;
  font-family: "KelsonBold";
  color: #e6e6e6;
  text-transform: uppercase;
}

.main-action__left--collum {
  float: left;
  margin-top: 50px;
  color: #d19008;
}

.main-action__left--collum .main-action__big-title {
  font-size: 53px;
  text-transform: uppercase;
  padding-bottom: 15px;
  font-family: "KelsonBold";
}

.main-action__left--collum .main-action__middle-title {
  font-size: 23px;
  text-transform: uppercase;
  font-family: "KelsonRegular";
}

.main-action__left--collum .main-action__middle-title span {
  text-transform: none;
}

.main-action__left--collum .main-action__button {
  width: 466px;
  height: 58px;
  background-color: #ccc9c4;
  border: 1px solid rgba(0, 0, 0, 0.63);
  border-radius: 10px;
  box-shadow: 0 7px 18px rgba(0, 0, 0, 0.26), inset 0 -1px 0 rgba(255, 255, 255, 0.65);
}

.main-action__left--collum .main-action__button {
  margin-top: 55px;
  cursor: pointer;
}

.main-action__left--collum .main-action__button p {
  padding: 18px 38px;
  text-align-last: center;
  font-size: 25px;
  font-family: "KelsonBold";
  text-transform: uppercase;
  color: #353535;
  text-shadow: none;
}

.main-action__right--collum {
  float: right;
  margin-top: 20px;
}

.main-delivery {
  background: url(../img/delivery-bg.png) no-repeat;
  min-width: 1300px;
  height: 846px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.main-delivery__title {
  padding-top: 55px;
  text-align: center;
  color: #fff;
  font-size: 45px;
  text-transform: uppercase;
  font-family: "KelsonBold";
  text-shadow: 1px 1px 2px black, 0 0 1em black;
}

.main-delivery__left--collum {
  width: 465px;
  float: left;
  margin-top: 75px;
}

.main-delivery__left--collum .main-delivery__content-top {
  text-transform: uppercase;
  color: #fff;
  font-size: 24px;
  font-family: "KelsonBold";
  text-align: left;
  line-height: 30px;
}

.main-delivery__left--collum .main-delivery__content-bottom {
  margin-top: 20px;
  text-transform: uppercase;
  color: #c38b10;
  font-size: 21px;
  font-family: "KelsonRegular";
}

.main-delivery__left--collum .main-delivery__content-bottom b {
  font-family: "KelsonBold";
}

.main-delivery__right--collum {
  position: relative;
  float: right;
  margin-top: 40px;
}

.main-delivery__right--collum .main-delivery__map {
  font-size: 21px;
  color: #d2d0cc;
  text-transform: uppercase;
}

.main-delivery__right--collum .main-delivery__map p {
  margin-bottom: 25px;
  text-align: center;
}

.main-delivery__content {
  display: flex;
  float: left;
  width: 100%;
  margin: 93px 35px 0;
}

.main-delivery__content .main-delivery__information {
  position: relative;
  display: inline-block;
  margin-right: 170px;
}

.main-delivery__content .main-delivery__information p {
  padding-top: 45px;
  font-family: "KelsonBold";
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  color: #dbddd9;
}

.main-delivery__content .main-delivery__information:last-child {
  margin-right: 0;
}

.main-delivery__content .main-delivery__information .main-delivery__icon-phone {
  width: 77px;
  height: 77px;
  margin-left: 50px;
  background: url(../img/sprite.png) no-repeat;
  background-position: -50px -408px;
}

.main-delivery__content .main-delivery__information .main-delivery__icon-phone::after {
  content: " ";
  display: flex;
  position: absolute;
  right: -95px;
  top: 55px;
  width: 26px;
  height: 43px;
  background: url(../img/sprite.png) no-repeat;
  background-position: -50px -585px;
}

.main-delivery__content .main-delivery__information .main-delivery__icon-pizza {
  margin-left: 70px;
  background: url(../img/sprite.png) no-repeat;
  background-position: -50px -50px;
  width: 79px;
  height: 77px;
}

.main-delivery__content .main-delivery__information .main-delivery__icon-pizza::after {
  content: " ";
  display: flex;
  position: absolute;
  right: -95px;
  top: 55px;
  width: 26px;
  height: 43px;
  background: url(../img/sprite.png) no-repeat;
  background-position: -50px -585px;
}

.main-delivery__content .main-delivery__information .main-delivery__icon-car {
  margin-left: 40px;
  background: url(../img/sprite.png) no-repeat;
  background-position: -50px -229px;
  width: 101px;
  height: 75px;
}

.main-reviews {
  background: url(../img/wall.png) no-repeat;
  min-width: 1300px;
  height: 633px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.main-reviews__title {
  margin-bottom: 80px;
  padding-top: 50px;
  font-size: 45px;
  font-family: "KelsonBold";
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  text-shadow: 0 7px 10px rgba(0, 0, 0, 0.22);
}

.main-reviews__content {
  margin: 0 35px;
}

.main-reviews__content--block {
  float: left;
  margin-right: 60px;
}

.main-reviews__content--block:last-child {
  margin-right: 0;
}

.main-reviews__content--block p {
  width: 250px;
  text-align: center;
  color: #fff;
  font-family: KelsonRegular;
  font-size: 19px;
}

.main-reviews__content--block img {
  margin-left: 50px;
}

.main-reviews__content--block::after {
  content: " ";
  background: url(../img/sprite.png);
  width: 26px;
  height: 43px;
  background-position: -50px -585px;
}

.main-footer {
  height: 340px;
  background: #ffae00;
}

.main-footer .main-footer__title {
  padding-top: 35px;
  padding-bottom: 22px;
  font-size: 25px;
  font-family: "KelsonBold";
}

.main-footer a {
  color: #000;
  font-size: 20px;
  text-decoration: none;
}

.main-footer a:hover {
  color: #fff;
}

.main-footer__collum-left {
  float: left;
  margin-right: 125px;
}

.main-footer__collum-left p {
  font-size: 20px;
  font-family: "KelsonRegular";
  color: #000000;
}

.main-footer__collum-left .main-footer__collum-left--text-top {
  padding-bottom: 30px;
}

.main-footer__collum-middle {
  float: left;
}

.main-footer__collum-middle li {
  margin-bottom: 10px;
}

.main-footer__collum-right {
  float: right;
  margin-right: 120px;
}

.main-footer__collum-right .main-footer__social {
  position: relative;
}

.main-footer__collum-right p {
  position: absolute;
  display: inline-block;
  margin-top: 15px;
  margin-left: 12px;
}

.modal-content__cart {
  display: none;
  position: absolute;
  right: 0%;
  top: 90%;
  width: 228px;
  background-color: #ab0000;
  z-index: 0;
}

.modal-content__cart .modal-content__product-photo {
  display: inline-block;
  width: 75px;
  height: 55px;
  margin: 20px 15px;
}

.modal-content__cart .modal-content__product-photo img {
  width: 75px;
  height: 55px;
  border: 1px solid #ffae00;
  border-radius: 10px;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.32);
}

.modal-content__cart .modal-content__sum-counter,
.modal-content__cart .modal-content__counter {
  display: inline-block;
  align-items: center;
  vertical-align: top;
  margin-top: 40px;
  font-family: "KelsonRegular";
  font-size: 16px;
  color: aliceblue;
}

.modal-content__cart .modal-content__cross {
  display: inline-block;
  align-items: center;
  vertical-align: top;
  margin-top: 40px;
  padding: 0 5px;
  font-size: 16px;
  color: #ffae00;
}

.modal-content__cart .modal-content__button {
  display: block;
  width: 227px;
  height: 60px;
  text-align: center;
  color: aliceblue;
  font-size: 23px;
  font-family: "KelsonRegular";
  text-transform: uppercase;
  align-items: center;
  cursor: pointer;
  background-color: #d90000;
}

.modal-content__cart .modal-content__button b {
  display: block;
  padding-top: 25px;
}

.modal-content__cart-show {
  display: block;
}

.main-order__form {
  display: none;
  width: 940px;
  height: 610px;
  position: fixed;
  top: 20%;
  left: 21%;
  background-color: #b0b0b0;
  text-transform: uppercase;
  color: aliceblue;
}

.main-order__form h1 {
  padding-top: 35px;
  padding-bottom: 50px;
  font-size: 60px;
  text-align: center;
}

.main-order__form .main-order__left-column {
  float: left;
  margin-left: 45px;
}

.main-order__form .main-order__left-column p {
  font-size: 27px;
  font-family: "KelsonRegular";
}

.main-order__form .main-order__left-column span {
  font-size: 14px;
  font-family: "KelsonRegular";
}

.main-order__form .main-order__method-delivery {
  padding-bottom: 80px;
}

.main-order__form .main-order__payment-method {
  padding-bottom: 135px;
}

.main-order__form .total-sum {
  font-size: 50px;
  color: #d05d00;
}

.main-order__form .main-order__right-column {
  float: right;
  width: 304px;
  height: 43px;
}

.main-order__form .main-order__right-column h2 {
  padding-bottom: 20px;
  font-size: 27px;
}

.main-order__form .main-order__right-column input {
  display: inline-block;
}

.main-order__form .main-order__right-column label {
  width: 25%;
  padding-right: 30px;
  text-align: left;
  float: left;
  font-size: 18px;
}

.main-order__form .main-order__right-column .main-oreder__content-bottom {
  margin-top: 10px;
}

.main-order__form .main-order__right-column .main-oreder__content-bottom label {
  float: none;
  width: 17%;
  padding-right: 4px;
  text-align: center;
  font-size: 15px;
}

.main-order__form .main-order__right-column .main-oreder__content-bottom input {
  width: 24px;
  height: 24px;
}

.main-order__form .main-order__right-column .main-oreder__content-bottom #big-input {
  width: 278px;
  height: 134px;
}
