@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: KelsonRegular;
  /* Имя шрифта */
  src: url(../fonts/KelsonRegular.otf);
  /* Путь к файлу со шрифтом */ }

@font-face {
  font-family: KelsonBold;
  /* Имя шрифта */
  src: url(../fonts/KelsonBold.otf);
  /* Путь к файлу со шрифтом */ }

body {
  font-family: "KelsonRegular"; }

.clearfix::after {
  content: "";
  display: table;
  clear: both; }

.container {
  width: 940px;
  margin: 0 auto; }

.main-header {
  position: relative;
  background: url("../img/wall.png") no-repeat;
  min-width: 1300px;
  height: 520px;
  box-shadow: -39px 68px 91px 0px #202c42;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-shadow: 2.3px 1.9px 0 rgba(0, 0, 0, 0.3); }

.main-header__blur-header {
  height: 147px;
  width: 100%;
  margin: -20px auto;
  position: absolute;
  top: 20px;
  filter: blur(10px);
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  overflow: hidden;
  z-index: 1; }

.main-header__blur-header::after {
  content: '';
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.2);
  position: absolute; }

.main-header__logo {
  position: relative;
  display: inline-block;
  float: left;
  margin-top: 10px;
  z-index: 10; }

.main-header__information {
  position: relative;
  display: inline-block;
  margin-top: 35px;
  margin-left: 50px;
  font-size: 20px;
  color: #cac9c9;
  font-style: 'KelsonRegular';
  z-index: 10; }
  .main-header__information span {
    font-family: 'KelsonBold'; }
  .main-header__information .main-header__phone-number {
    position: relative;
    display: inline-block;
    font-family: 'KelsonBold'; }
    .main-header__information .main-header__phone-number img {
      position: absolute;
      left: -35px;
      top: -3px; }
  .main-header__information .main-header__work-time {
    display: inline-block;
    margin-right: 75px; }

.main-header__navigation {
  position: relative;
  margin-top: 45px;
  z-index: 10; }
  .main-header__navigation li {
    float: left;
    display: inline-block;
    padding-right: 35px;
    font-size: 20px; }
    .main-header__navigation li:last-child {
      padding: 0; }
  .main-header__navigation a {
    display: block;
    text-decoration: none;
    color: #cac9c9; }
    .main-header__navigation a:hover {
      color: #cf0000; }

.main-header__cart {
  display: inline-block;
  position: relative;
  float: right;
  margin-top: -70px;
  width: 228px;
  height: 80px;
  border-radius: 10px;
  box-shadow: 0px 13px 18px 0px rgba(0, 0, 0, 0.31), inset 0px -1px 0px 0px rgba(255, 120, 0, 0.004);
  background: #ff0000 url("../img/sprite.png") no-repeat;
  background-position: 107px -562px;
  z-index: 10;
  cursor: pointer; }
  .main-header__cart p,
  .main-header__cart span {
    margin: 10px 13px;
    color: #fff; }
  .main-header__cart p {
    font-size: 26px; }
  .main-header__cart span {
    font-size: 23px; }
  .main-header__cart b {
    font-size: 15px; }

.main-header__pizza-background {
  position: absolute;
  right: 0;
  top: 0;
  background: url(../img/pizza-bg.png) no-repeat;
  min-width: 557px;
  height: 914px;
  float: right;
  z-index: 0; }

.main-header__title {
  margin-top: 165px;
  text-shadow: 0 6px 18.8px rgba(0, 0, 0, 0.47);
  color: #ff0000;
  text-transform: uppercase;
  font-family: 'KelsonBold'; }
  .main-header__title .main-header__title-big {
    font-size: 69px; }
  .main-header__title .main-header__title-small {
    margin-top: 15px;
    font-size: 36px; }

.main-menu {
  display: flex;
  background: url(../img/bg-wood.png) no-repeat;
  min-width: 1300px;
  height: 1780px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.main-menu__title {
  position: relative;
  margin-top: 275px; }
  .main-menu__title h1 {
    font-size: 45px;
    color: #e79e00;
    text-align: center;
    text-shadow: #000 1px 1px 0, #000 -1px -1px 0,  #000  -1px 1px 0, #000  1px -1px 0;
    font-family: 'KelsonBold'; }
  .main-menu__title h1::after {
    position: absolute;
    content: '';
    background: url(../img/bg-menu-img.png) no-repeat;
    min-width: 202px;
    height: 127px;
    margin-left: -143px;
    top: -42px;
    opacity: 0.5; }

.main-menu__title--pizza {
  margin-top: 85px;
  margin-bottom: 55px;
  text-transform: uppercase;
  font-size: 35px;
  text-shadow: #253a55 1px 1px 0, #253a55 -1px -1px 0,  #253a55 3px 3px 0, #253a55 1px -1px 0;
  color: #fff;
  text-align: center;
  font-family: 'KelsonBold'; }

.main-menu__pizza-product {
  float: left;
  margin-right: 180px;
  margin-bottom: 53px; }
  .main-menu__pizza-product:nth-child(3n+1) {
    margin-right: 0;
    float: right; }

.main-menu__product-cart {
  position: relative;
  top: 15px;
  width: 183px;
  height: 50px;
  background-color: #b00;
  background-image: linear-gradient(to right, #ffae00 50%, #ccc9c4 50%, #ccc9c4 33%, #ccc9c4 184%);
  border-radius: 10px;
  box-shadow: 0 7px 13px rgba(0, 0, 0, 0.55), inset 0 -1px 0 rgba(255, 255, 255, 0.42); }

.main-menu__cash {
  position: absolute;
  top: 8px;
  left: 7px;
  display: inline-block;
  font-size: 35px;
  font-family: 'KelsonBold'; }
  .main-menu__cash span {
    font-size: 21px; }

.main-menu__add-cart {
  position: absolute;
  right: 0;
  top: 10px;
  left: 97px;
  display: inline-block;
  font-size: 16px;
  text-transform: uppercase;
  font-family: 'KelsonBold';
  cursor: pointer; }

.main-menu__product-name {
  text-align: center;
  margin-top: 13px;
  font-family: 'KelsonBold';
  font-size: 25px;
  color: #e29a00;
  text-transform: uppercase; }

.main-menu__drink {
  position: relative;
  top: 125px; }

.main-menu__title--drink {
  margin-top: 85px;
  margin-bottom: 55px;
  text-transform: uppercase;
  font-size: 35px;
  text-shadow: #253a55 1px 1px 0, #253a55 -1px -1px 0,  #253a55 3px 3px 0, #253a55 1px -1px 0;
  color: #fff;
  text-align: center;
  font-family: 'KelsonBold'; }

.main-menu__drink-product {
  float: left;
  margin-right: 195px;
  margin-bottom: 53px; }
  .main-menu__drink-product:nth-child(3n+1) {
    margin-right: 0;
    float: right; }

.main-menu_drink-product--img {
  margin-left: 40px; }

.main-action {
  background: url(../img/wall.png) no-repeat;
  min-width: 1300px;
  height: 677px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  box-shadow: 0 0 71px 20px;
  text-shadow: 1px 1px 2px black, 0 0 1em black; }

.main-action__title {
  padding-top: 53px;
  padding-bottom: 80px;
  text-align: center;
  font-size: 45px;
  font-family: "KelsonBold";
  color: #e6e6e6;
  text-transform: uppercase; }

.main-action__left--collum {
  float: left;
  color: #d19008; }
  .main-action__left--collum .main-action__big-title {
    font-size: 53px;
    text-transform: uppercase;
    padding-bottom: 15px;
    font-family: "KelsonBold"; }
  .main-action__left--collum .main-action__middle-title {
    font-size: 23px;
    text-transform: uppercase;
    font-family: "KelsonRegular"; }
    .main-action__left--collum .main-action__middle-title span {
      text-transform: none; }
  .main-action__left--collum .main-action__button {
    width: 466px;
    height: 58px;
    background-color: #ccc9c4;
    border: 1px solid rgba(0, 0, 0, 0.63);
    border-radius: 10px;
    box-shadow: 0 7px 18px rgba(0, 0, 0, 0.26), inset 0 -1px 0 rgba(255, 255, 255, 0.65); }
  .main-action__left--collum .main-action__button {
    margin-top: 55px;
    cursor: pointer; }
    .main-action__left--collum .main-action__button p {
      padding: 18px 38px;
      text-align-last: center;
      font-size: 25px;
      font-family: "KelsonBold";
      text-transform: uppercase;
      color: #353535;
      text-shadow: none; }

.main-action__right--collum {
  float: right; }

.main-delivery {
  background: url(../img/delivery-bg.png) no-repeat;
  min-width: 1300px;
  height: 845px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.main-delivery__title {
  padding-top: 55px;
  text-align: center;
  color: #fff;
  font-size: 45px;
  text-transform: uppercase;
  font-family: "KelsonBold";
  text-shadow: 1px 1px 2px black, 0 0 1em black; }

.main-delivery__left--collum {
  float: left;
  margin-top: 75px; }
  .main-delivery__left--collum .main-delivery__content-top {
    width: 40%;
    text-transform: uppercase;
    color: #fff;
    font-size: 24px;
    font-family: "KelsonBold";
    text-align: left; }
