   @font-face {
    font-family: KelsonRegular; /* Имя шрифта */
    src: url(../fonts/KelsonRegular.otf); /* Путь к файлу со шрифтом */
   }
     @font-face {
    font-family: KelsonBold; /* Имя шрифта */
    src: url(../fonts/KelsonBold.otf); /* Путь к файлу со шрифтом */
   }