@import "reset.scss", "fonts.scss";

html, body{
	font-family: "KelsonRegular", sans-serif;
	line-height: 1.3;
}

.header{
	padding: 0 10%;
	background:url('../img/wall.png') no-repeat;
	box-shadow: -39px 68px 91px 0px #202c42;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	text-shadow: 2.3px 1.9px 0 rgba(0, 0, 0, 0.3);
	color: #cac9c9;

	.header-content{
		max-width: 1200px;
		margin: auto;
	}

	.logo{
		padding: 15px;
		width: 18%;
		position: relative;
		display: inline-block;
	}

	.info{
		width: 50%;
		display: inline-flex;
		justify-content: space-around;
		font-size: 20px;
		.info__time{
			display: inline-block;
			padding-right: 50px;
		}
		.info__phone{
			position: relative;
			display: inline-block;
			&:after{
				content: '';
				position: absolute;
				background:url('../img/phone-icon.png') no-repeat;
				left: -35px;
				top: -3px;
				width: 28px;
				height: 28px;
			}
		}
	}
	.nav{
		display: flex;
		width: 40%;
		justify-content: space-between;
		font-size: 20px;
		.nav-item{
			padding-top: 20px;
		}
		.nav-link{
			color: #cac9c9;
			text-decoration: none;
		}
	}
}

.cart{
	display: inline-block;
	position: relative;
	float: right;
	width: 228px;
	height: 80px;
	margin-top: 30px;
	border-radius: 10px;
	box-shadow: 0px 13px 18px 0px rgba(0, 0, 0, 0.31),inset 0px -1px 0px 0px rgba(255, 120, 0, 0.004);
	background: #ff0000  url("../img/sprite.png") no-repeat;
	background-position: 107px -704px;
	z-index: 10;
	cursor: pointer;
	p,
	span{
		margin: 10px 13px;
		color: #fff;
	}

	p{
		font-size: 26px;
	}


	span{
		font-size: 23px;
	}

	b{
		font-size: 15px;
	}

}
.index-title {
	padding: 100px 0;
	.title {
		text-shadow: 0 6px 18.8px rgba(0, 0, 0, 0.47);
		color: #ff0000;
		text-transform: uppercase;
	}
	.title_size_m {
		font-size: 69px;
	}
	.title_size_s {
		font-size: 36px;
	}
}

.main-menu{
	background: url(../img/bg-wood.png) no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-bottom: 120px;
	.main-menu__title{
		padding-top: 40px;
		position: relative;
		font-size: 45px;
		color: #e79e00;
		text-align: center;
		text-shadow: #000 1px 1px 0, #000 -1px -1px 0,
		#000  -1px 1px 0, #000  1px -1px 0;
		font-family: 'KelsonBold';
		&::after{
			position: absolute;
			content: '';
			background: url(../img/bg-menu-img.png) no-repeat;
			width: 202px;
			height: 127px;
			top: 10px;
			margin-left: -137px;
			opacity: 0.5;
		}
	}
}

.menu-all{
	padding: 0 10%;
	.menu-all__title {
		padding-top: 85px;
		padding-bottom: 55px;
		text-transform: uppercase;
		font-size: 35px;
		text-shadow: 0px 7px 10px rgba(0, 0, 0, 0.64);
		color: #fff;
		font-family: 'KelsonBold';
		text-align: center;
	}
	.menu-product {
		display: inline-block;
		text-align: center;
		width: 31%;
		margin-right: 3%;
		margin-bottom: 30px;
		&:nth-child(3n+1) {
			margin-right: 0;
			float: right;
		}
		.menu-product__name{
			margin-top: 13px;
			font-family: 'KelsonBold';
			font-size: 25px;
			color: #e29a00;
			text-transform: uppercase;
			text-shadow: 0 8px 7px rgba(0, 0, 0, 0.55);
		}
	}
}
	.product-cart{
		padding-top: 10px;
		margin-bottom: 15px;
		display: inline-block;
		width: 183px;
		background-color: #b00;
		background-image:linear-gradient(to right, #ffae00 50%, #ccc9c4 50%, #ccc9c4 33%, #ccc9c4 184%);
		border-radius: 10px;
		box-shadow: 0 7px 13px rgba(0, 0, 0, 0.55), inset 0 -1px 0 rgba(255, 255, 255, 0.42);
		cursor: pointer;
		font-family: 'KelsonBold';
		.product-cart__cash{
			width: 47%;
			display: inline-block;
			vertical-align: middle;
			font-size: 35px;
		}
		.product-cart__add{
			width: 50%;
			display: inline-block;
			vertical-align: middle;
			font-size: 16px;
			text-transform: uppercase;
		}
	}
.main-action{
	background: url(../img/wall.png) no-repeat;
	min-width: 1300px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	box-shadow: 0 0 71px 20px;

	text-shadow: 1px 1px 2px black, 0 0 1em black;
}

.main-action__title{
	padding-top: 53px;
	padding-bottom: 80px;
	text-align: center;
	font-size: 45px;
	font-family: "KelsonBold";
	color: #e6e6e6;
	text-transform: uppercase;

}

.main-action__left--collum{
	float: left;
	margin-top: 50px;
	color: #d19008;
	.main-action__big-title{
		font-size: 53px;
		text-transform: uppercase;
		padding-bottom: 15px;
		font-family: "KelsonBold";
	}
	.main-action__middle-title{
		font-size: 23px;
		text-transform: uppercase;
		font-family: "KelsonRegular";

		span{
			text-transform: none;
		}
	}

	.main-action__button{
		width: 466px;
		background-color: #ccc9c4;
		border: 1px solid rgba(0, 0, 0, 0.63);
		border-radius: 10px;
		box-shadow: 0 7px 18px rgba(0, 0, 0, 0.26), inset 0 -1px 0 rgba(255, 255, 255, 0.65);
	}

	.main-action__button{
		margin-top: 55px;
		cursor: pointer;
		p {
			padding: 18px 38px;
			text-align-last: center;
			font-size: 25px;
			font-family: "KelsonBold";
			text-transform: uppercase;
			color: #353535;
			text-shadow: none;
		}
	}
}


.main-action__right--collum{
	float: right;
    margin-top: 20px;
}

.main-delivery{
	background: url(../img/delivery-bg.png) no-repeat;
	min-width: 1300px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

}

.main-delivery__title{
	padding-top: 55px;
	text-align: center;
	color: #fff;
	font-size: 45px;
	text-transform: uppercase;
	font-family: "KelsonBold";
	text-shadow: 1px 1px 2px black, 0 0 1em black;
}

.main-delivery__left--collum{
	width: 465px;
	float: left;
	margin-top: 75px;
	.main-delivery__content-top{
		text-transform: uppercase;
		color: #fff;
		font-size: 24px;
		font-family: "KelsonBold";
		text-align: left;
		line-height: 30px;
	}

	.main-delivery__content-bottom{
		margin-top: 20px;
		text-transform: uppercase;
		color: #c38b10;
		font-size: 21px;
		font-family: "KelsonRegular";

		b{
			font-family: "KelsonBold";
		}
	}
}

.main-delivery__right--collum{
	position: relative;
	float: right;
	margin-top: 40px;
	.main-delivery__map{
		font-size: 21px;
		color: #d2d0cc;
		text-transform: uppercase;
		p{
			margin-bottom: 25px;
			text-align: center;
		}
	}
}

.main-delivery__content{
	display: flex;
	float: left;
	width: 100%;
	margin: 93px 35px 0;
	.main-delivery__information{
		position: relative;
		display: inline-block;
		margin-right: 170px;

		p {
			padding-top: 45px;
			font-family: "KelsonBold";
			text-align: center;
			text-transform: uppercase;
			font-size: 16px;
			color: #dbddd9;
		}

		&:last-child{
			margin-right: 0;

		}

		.main-delivery__icon-phone{	
			width: 77px;
			height: 77px;			
			margin-left: 50px;
			
			background: url(../img/sprite.png) no-repeat;
			background-position: -50px -408px;
			&::after{
				content: " ";
				display: flex;
				position: absolute;
                right: -95px;
                top: 55px;
				width: 26px;
				height: 43px;                
				
				background: url(../img/sprite.png) no-repeat;
				background-position: -50px -585px;

			}  			
		}

		.main-delivery__icon-pizza{
			margin-left: 70px;
			background: url(../img/sprite.png) no-repeat;
			background-position: -50px -50px;
			width: 79px;
			height: 77px;
			
				&::after{
				content: " ";
				display: flex;
				position: absolute;
                right: -95px;
                top: 55px;
				width: 26px;
				height: 43px;                
				
				background: url(../img/sprite.png) no-repeat;
				background-position: -50px -585px;

			}   		
		}

		.main-delivery__icon-car{
			margin-left: 40px;
			background: url(../img/sprite.png) no-repeat;
			background-position: -50px -229px;
			width: 101px;
			height: 75px;	
		}
	}
}

.main-reviews{
	background: url(../img/wall.png) no-repeat;
	min-width: 1300px;
	height: 633px;

	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.main-reviews__title{
	margin-bottom: 80px;
	padding-top: 50px;
	font-size: 45px;
	font-family: "KelsonBold";
	text-transform: uppercase;
	text-align: center;
	color: #fff;
	text-shadow: 0 7px 10px rgba(0, 0, 0, 0.22);
}

.main-reviews__content{
	margin: 0 35px;;
}

.main-reviews__content--block{
	float: left;
	margin-right: 60px;
	&:last-child{
		margin-right: 0;
	}
	p{
		width: 250px;
		text-align: center;
		color: #fff;
		font-family: KelsonRegular;
		font-size: 19px;
	}

	img{
		margin-left: 50px;
	}

}

.main-reviews__content--block::after{
	content: " ";
	background: url(../img/sprite.png);
	width: 26px;
	height: 43px;
	background-position: -50px -585px;
}

.main-footer{
	height: 340px;
	background: #ffae00;

	.main-footer__title{ 
		padding-top: 35px;
		padding-bottom: 22px;
		font-size: 25px;
		font-family: "KelsonBold";
	}

	a{
		color: #000;
		font-size: 20px;
		text-decoration: none;

		&:hover{
			color: #fff;
		}
	}
}

.main-footer__collum-left{
	float: left;
	margin-right: 125px;

	p{
		font-size: 20px;
		font-family: "KelsonRegular";
		color: #000000;
	}

	.main-footer__collum-left--text-top{
		padding-bottom: 30px;
	}
}

.main-footer__collum-middle{
	float: left;
	li{
		margin-bottom: 10px;
	}

}

.main-footer__collum-right{
	float: right;
	margin-right: 120px;
	.main-footer__social{
		position: relative;
	}
	p{  
		position: absolute;
		display: inline-block;
		margin-top: 15px;
		margin-left: 12px;
	}
}

.modal-content__cart{
    display: none;
    position: absolute;
    right: 0%;
    top: 90%;
    
    width: 228px;
    
    background-color: #ab0000;
    z-index: 0;
    
    .modal-content__product-photo{
        display: inline-block;
        width: 75px;
        height: 55px;
        margin: 20px 15px;
        
        img{
        width: 75px;
        height: 55px;
        
        border: 1px solid #ffae00;
        border-radius: 10px;
            box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.32);
        }
    }
    
    .modal-content__sum-counter,
    .modal-content__counter{  
        display: inline-block;
        align-items: center;
        vertical-align: top;
        margin-top: 40px;
        font-family: "KelsonRegular";
        font-size: 16px;
        color: aliceblue;
        
        
    }
    
    .modal-content__cross{
        display: inline-block;
        align-items: center;
        vertical-align: top;
        margin-top: 40px;
        padding: 0 5px;
        font-size: 16px;
        color: #ffae00;
    }
    
    .modal-content__button{
        display: block;
        width: 227px;
        height: 60px;
        text-align: center;
        color: aliceblue;
        font-size: 23px;
        font-family: "KelsonRegular";
        text-transform: uppercase;
        align-items: center;
        cursor: pointer;
        background-color: #d90000;
        b{
            display: block;
            padding-top: 25px;
        }
        
    }
}

.modal-content__cart-show{
    display: block;
}

.main-order__form{
	display: none;
    width: 940px;
    height: 610px;
    
    position: fixed;
    top: 20%;
    left: 21%;
    background-color: #b0b0b0;
    text-transform: uppercase;
    color: aliceblue;
    
    h1{
    padding-top: 35px;
    padding-bottom: 50px;
    font-size: 60px;
    text-align: center;
    }
    
    
    .main-order__left-column{
        float: left;
        margin-left: 45px;
        p{
            font-size: 27px;
            font-family: "KelsonRegular";
        }
        
        span{
            font-size: 14px;
            font-family: "KelsonRegular";
        }
        
        }
    
    .main-order__method-delivery{
        padding-bottom: 80px;
    }
    
    .main-order__payment-method{
        padding-bottom: 135px;
    }
    .total-sum{
        font-size: 50px;
        color: #d05d00;
    }
    
    .main-order__right-column{
        float: right;
        width: 304px;
        height: 43px;
        
        h2{
            padding-bottom: 20px;
           font-size: 27px;
            
        }
        
        input{
            display: inline-block;

        }
        
        label{
            width: 25%;
            padding-right: 30px;
            text-align: left;
            float: left;
            font-size: 18px;
        }
        
        .main-oreder__content-bottom{
            margin-top: 10px;
            
            
            label{
                float: none;
                width: 17%;
                padding-right: 4px;
                text-align: center;
                font-size: 15px;
                
            }
            
            input{
                width: 24px;
                height: 24px;
                
            }
            
            #big-input{
                width: 278px;
                height: 134px;
            }
            
            #wishes{
                
            }

        }
            }       
    
    }

